.Home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  padding-top: 87px;
}

.probForm,
.problemSection {
  background-color: #222831;
}

.dateSelection {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  z-index: 2;
  position: relative;
  color: #eeeeee;
}

.dateSelection > span {
  margin: 20px;
}

.dateSelection > span > span {
  color: #00adb5;
}

.deleteProblem {
  cursor: pointer;
}

.solved_box {
  padding-left: 20px;
  position: sticky;
  top: 87px;
  z-index: 1;
  background-color: #222831;
  font: 16px;
  color: #eeeeee;
}

.solved_box h3 > span {
  color: #00adb5;
}

.probForm form {
  position: fixed;
  width: 34%;
}

/* form css */
.Home form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
  padding: 30px;
  background-color: #393E46;
  border-radius: 6px;
  color: #eeeeee;
}

.Home form label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.Home form button,
.helpTaken {
  margin: 10px;
}
