.problemsPg {
  background: #222831;
  color: #eeeeee;
  padding: 5%;
  padding-top: 0px !important;
  height: 100%;
  overflow: hidden;
}

.probGrid {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  color: #eeeeee;
}

.probGrid > div:nth-child(n) {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  text-align: center;
  padding: 10px;
}

.probGrid > div:nth-child(1) {
  cursor: pointer;
}
.probGrid > div:nth-child(2) {
  cursor: pointer;
}
.probGrid > div:nth-child(3) {
  cursor: pointer;
}

.probGrid > div:nth-child(4) {
  grid-column: 1 / span 3;
  height: 75vh;
  overflow-x: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

/* to hide the scrollbar */
/* .probGrid > div:nth-child(4)::-webkit-scrollbar {
  display: none;
} */

.flex_prob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_prob Input {
  margin: 20px;
  width: 200px;
}

.btnBtn {
  outline: none;
  box-shadow: none;
}
.btnBtn:focus {
  outline: none;
  box-shadow: none;
}
