.signupPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signupLogo {
  padding: 32px 0 24px;
}

.signupLogo > img {
  height: 48px;
  width: 48px;
  border-radius: 40px;
}

.signupForm > h1 {
  font-size: 24px;
}

.signupForm > h1 > span {
  color: #00adb5;
}

.signupForm {
  display: flex;
  flex-direction: column;
  color: #eeeeee;
  align-items: center;
}

.signupBody {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #393e46;
  width: 308px;
  padding: 16px;
  margin-top: 16px;
  border-radius: 6px;
}

.signupBody > label {
  margin-bottom: 8px;
  font-size: 14px;
}

.signupBody > input {
  border: 0;
  border-radius: 6px;
  outline: 0;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 16px;
  padding: 5px 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #222831;
  color: #eeeeee;
}

.signupBtn {
  height: 32px;
  padding: 5px 16px;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  font-weight: 600;
  background-color: #00adb5;
  color: #eeeeee;
  transition: 0.4s;
  outline: none;
}

.signupBtn:focus {
  outline: none;
  border: none;
}

.signupBtn:hover {
  background-color: #08d9d6;
}

.signuptoLogin > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 308px;
  font: 14px;
  margin: 16px 0 10px;
  padding: 16px;
  background-color: #222831;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 6px;
}

.signupError {
  width: 308px;
  margin: 8px 0 8px;
  background-color: #301b1e;
  border: 1px solid #813131;
  color: #eeeeee;
  text-align: center;
  font: 14px;
  padding: 16px;
  position: relative;
  border-radius: 6px;
}

.signupErrBtn {
  color: #f75149;
  cursor: pointer;
  padding-left: 10px;
  position: absolute;
  top: 19px;
  right: 10px;
}
