.card {
  width: 70%;
  margin: 20px;
  background-color: #393e46;
  color: #eeeeee;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.cardHead {
  display: flex;
  justify-content: space-between;
}

.cardHead a {
  color: #eeeeee;
  font-weight: bold;
}

.cardHead a:hover {
  color: #00adb5;
}

.cardItems {
  display: flex;
  flex-wrap: wrap;
}

.card-text {
  display: inline-block;
  flex: 0 0 50%;
}

.deleteProblem:hover {
  color: #00adb5;
}
